.wizard-container { 
  height: 95%;
  width: 98%;
  box-sizing: border-box;
  color: var(--dark-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.phase-view { 
  width: 70%;
  height: 100%;
  box-sizing: border-box;
}

.process-tracker { 
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 3rem;
  padding-left: 3rem;
}

.phase { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1.5rem;
  color: var(--dark-grey);
}

.phase.done { 
  color: var(--dark-green);
}

.phase.pending { 
  color: black;
}

.phase.disable { 
  color: var(--dark-green);
}

.step { 
  padding: 1rem;
  background-color: dark;
  background-color: var(--cream);
  border-radius: 50%;
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--grey);
}

.step.done {
  color: var(--cream); 
  background-color: var(--green);
}

.step.pending { 
  color: var(--green);
  background-color: var(--cream);
  border: 2px solid var(--green);
}

.step.disable { 
  color: var(--dark-grey);
  background-color: var(--light-grey);
}

.col1 { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.divider { 
  background-color: var(--green);
  width: 0.2rem;
  height: 3rem;
  margin: 0.3rem 0;
  border-radius: 5px;
}

