.link-successfully {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--light-green);
  padding-top: 10rem;
}

.success-icon {
  color: var(--green) !important;
  font-size: 15rem !important;
}